
<!--主体内容-->
<main ng-app="loginApp" ng-controller="loginController">
    <div class="mod-body">
        <div class="main-top clearfix">
            <!--左部分表单-->
            <div class="col-lg-7 col-md-7 col-sm-7">
                <div class="head">
                    <img src="/images/bootstrap-logo.png" alt="">
                    <p>基于nodeJS的社区系统</p>
                </div>
                <form name="loginForm" ng-submit="postForm()">
                    <div class="text">
                        <input class="name" name="name" type="text" placeholder="邮箱/用户名" ng-model="formData.name" ng-pattern="/(^[a-zA-Z][a-zA-Z0-9_]{4,11}$)|(^(\w+)(\.\w+)*@(\w+)((\.\w+))+$)/" required>
                    </div>
                    <div class="tips">
                        <p ng-cloak ng-show="loginForm.name.$invalid && !loginForm.name.$pristine">邮箱/用户名不合法, 请重新输入</p>
                    </div>
                    <div class="text">
                        <input name="password" type="password" placeholder="密码" ng-model="formData.password" ng-pattern="/(?!^\\d+$)(?!^[a-zA-Z]+$)(?!^[_#@]+$).{5,}/" ng-maxlength="12" required>
                    </div>
                    <div class="tips">
                        <p ng-cloak ng-show="loginForm.password.$invalid && !loginForm.password.$pristine">密码格式不正确</p>
                    </div>
                    <div>
                        <input id="login-radio" type="checkbox" checked>
                        <label for="login-radio">记住我</label>
                        <a class="forget-password" href="#">忘记密码</a>
                        <input class="pull-right" type="submit" value="登录" ng-disabled="loginForm.$invalid">
                    </div>
                </form>
            </div>
            <!--右部分第三方登录-->
            <div class="col-lg-5 col-md-5 col-sm-5">
                <div class="other">
                    <div>第三方账号登录</div>
                    <div>
                        <img src="/images/weibo-login.png" alt="">
                    </div>
                    <div>
                        <img src="/images/qq-login.png" alt="">
                    </div>
                </div>
            </div>
            <div class="login-failed">
                <div ng-cloak ng-show="error">{{ error }}</div>
            </div>
        </div>
        <!--其它链接区域-->
        <div class="main-bottom">
            <p>还没有账号?&#x3000;
                <a href="/register">立即注册&#x3000;•&#x3000;</a>
                <a href="/">游客访问&#x3000;•&#x3000;</a>
                <a href="javascript:;">问答阅读</a>
            </p>
        </div>
    </div>
</main>