

<!--主体内容-->
<main>
    <div class="container">
        <div class="col-lg-9 main-left">
            <ul class="my-top">
                <!--头像 用户名 个性签名-->
                <li class="top-head clearfix">
                    <img class="pull-left my-picture" src="/images/default-avatar.jpg" alt="">
                    <div class="list-text pull-left">
                        <h4>
                            <span>suweiqing</span>
                        </h4>
                        <p>这家伙很懒，什么都没有留下...</p>
                        <span class="users-follow-btn"><a href="#">关注&nbsp;&nbsp;|&nbsp;&nbsp;<span class="follow-num">22</span></a></span>
                    </div>
                </li>
                <!--积分 注册时间-->
                <li class="top-body">
                    <div class="meta">
                        <a href="#">
                            <span class="fa fa-bar-chart-o"></span>
                            积分<b>: 45 </b>
                        </a>&nbsp;
                        <a href="#">
                            注册时间<b>: 1 天前</b>
                        </a>

                    </div>
                </li>
                <!--tab列表-->
                <li class="top-foot">
                    <ul class="my-tab clearfix">
                        <li class="hover">发问<span class="badge">2</span></li>
                        <li>回复<span class="badge">5</span></li>
                        <li>关注</li>
                        <li>动态</li>
                    </ul>
                </li>
            </ul>
            <div class="my-bottom">
                <!--发问列表-->
                <ul class="problems">
                    <h1>发问 <a class="pull-right" href="/user/:name/questions">更多</a></h1>
                   <li>
                       <p><a href="#">这是我的第一条发问</a></p>
                       <p class="metas">
                           <a class="comments" href="#"><span class="fa fa-comment-o"></span> &nbsp;1</a>
                           <span><span>11</span> 次浏览 • <span>0</span> 个关注 • <span>1</span> 天前</span>
                       </p>
                   </li>
                    <li>
                        <p><a href="#">这是我的第二条发问</a></p>
                        <p class="metas">
                            <a class="comments" href="#"><span class="fa fa-comment-o"></span> &nbsp;1</a>
                            <span><span>11</span> 次浏览 • <span>0</span> 个关注 • <span>1</span> 天前</span>
                        </p>
                    </li>
                </ul>
                <!--回复列表-->
                <ul class="replys hide">
                    <h1>回复 <a class="pull-right" href="/user/:name/replys">更多</a></h1>
                    <li>
                        <p><a href="#">这是我的第一条发问</a></p>
                        <p class="metas">
                            <a class="comments" href="#"><span class="fa fa-comment-o"></span> &nbsp;1</a>
                            <span>这是第一条发问下面的回复内容</span>
                        </p>
                    </li>
                    <li>
                        <p><a href="#">这是我的第二条发问</a></p>
                        <p class="metas">
                            <a class="comments" href="#"><span class="fa fa-comment-o"></span> &nbsp;1</a>
                            <span>这是第二条发问下面的回复内容</span>
                        </p>
                    </li>
                    <li>
                        <p><a href="#">这是我的第三条发问</a></p>
                        <p class="metas">
                            <a class="comments" href="#"><span class="fa fa-comment-o"></span> &nbsp;1</a>
                            <span>这是第三条发问下面的回复内容</span>
                        </p>
                    </li>
                    <li>
                        <p><a href="#">这是我的第四条发问</a></p>
                        <p class="metas">
                            <a class="comments" href="#"><span class="fa fa-comment-o"></span> &nbsp;1</a>
                            <span>这是第四条发问下面的回复内容</span>
                        </p>
                    </li>
                    <li>
                        <p><a href="#">这是我的第五条发问</a></p>
                        <p class="metas">
                            <a class="comments" href="#"><span class="fa fa-comment-o"></span> &nbsp;1</a>
                            <span>这是第五条发问下面的回复内容</span>
                        </p>
                    </li>
                </ul>
                <!--关注列表-->
                <ul class="attention"></ul>
                <!--动态列表-->
                <ul class="dynamic"></ul>
            </div>
        </div>
        <!--内容右部分-->
        <div class="col-lg-3 main-right">
            <!--关注板块-->
            <div class="hot">
                <h4>关注<span>2</span>人<a href="#" class="more pull-right">更多</a></h4>
                <div class="clearfix">
                    <img class="pull-left" src="/images/avatar-mid-img.png" alt="">
                </div>
            </div>
            <!--被关注板块-->
            <div class="hot">
                <h4>被<span>2</span>人关注<a href="" class="more pull-right">更多</a></h4>
            </div>
        </div>
    </div>
</main>

<script>
    $(function () {
        // 内容区域tab切换特效
        $('.my-top .my-tab li').on('click', function () {
            $(this).addClass('hover').siblings().removeClass('hover');
            $('.my-bottom ul').eq($(this).index()).removeClass('hide').siblings().addClass('hide');
        })
    })
</script>
