<!--主体内容-->
<main ng-app="registerApp" ng-controller="registerController">
    <div class="mod-body">
        <!--logo 标题-->
        <div class="main-head">
            <img src="/images/icon.png" alt="">
            <h1>注册新用户</h1>
        </div>
        <form class="main-body" ng-submit="postForm()" name="regForm">
            <ul>
                <li class="frame">
                    <input type="text" placeholder="用户名" name="name" ng-model="formData.name"
                           ng-minlength="5" ng-maxlength="12" ng-pattern="/^[a-zA-Z][a-zA-Z0-9_]{4,11}$/" required>
                    <div ng-cloak ng-show="regForm.name.$invalid && !regForm.name.$pristine" class="tip">用户名长度不符合</div>
                </li>
                <li class="frame">
                    <input type="email" placeholder="邮箱" name="email" ng-model="formData.email"
                           ng-pattern="/^(\w)+(\.\w+)*@(\w)+((\.\w+)+)$/" required>
                    <div ng-cloak ng-show="regForm.email.$invalid && !regForm.email.$pristine" class="tip">邮箱格式不正确</div>
                </li>
                <li class="frame">
                    <input type="password" placeholder="密码" name="password" ng-model="formData.password"
                           ng-pattern="/(?!^\\d+$)(?!^[a-zA-Z]+$)(?!^[_#@]+$).{5,}/" ng-maxlength="12" required>
                    <div ng-cloak ng-show="regForm.password.$invalid && !regForm.password.$pristine" class="tip">密码格式不正确</div>
                </li>
                <li class="clearfix">
                    <div class="pull-left agree">
                        <input id="login-radio" type="checkbox" checked>
                        <label for="login-radio">我同意</label>
                        <a href="#">用户协议</a>
                    </div>
                    <div class="pull-right">
                        <a href="/login">已有账号</a>
                    </div>
                </li>
                <li class="frame"><input ng-disabled="regForm.$invalid" type="submit" value="注册"></li>
            </ul>
        </form>
        <div class="main-footer">
            <div style="margin-bottom: 40px" class="alert alert-danger" ng-cloak ng-show="error">{{ error }}</div>
            <div class="alert-success hide">注册成功,<span>5</span>秒后跳转,请注意查收邮件</div>
        </div>
    </div>
</main>
