<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
    <!--<script type="text/javascript" src="../jquery.js"></script>-->
    <script src="/plugins/jquery/dist/jquery.min.js"></script>
</head>

<body>
<input id="load" type="file" onchange="upload(this.files)" multiple/>
<div id="dd"></div>
<img class="logo" src="" alt="">

</body>
<script type="text/javascript">
    function $$(obj) {
        return document.getElementById(obj);
    }
    function upload(f){
        var str = "";
        for(var i=0;i<f.length;i++){
            var reader = new FileReader();
            reader.readAsDataURL(f[i]);
            reader.onload = function(e){
                $('.logo').attr('src', e.target.result);
            }
        }

    }
</script>

</html>