body {
    /*background: #e7eef4;*/ /* 别删(响应式的时候用得到) */
    background: url("../images/timg.jpg") no-repeat fixed;
    background-size: 100%;
    padding-top: 50px;
}
a,a:hover {
    text-decoration: none !important;
}
.container {
    padding: 0;
}
ul,li {
    list-style: none;
    margin: 0;
    padding: 0;
}
input[type=submit] {
    outline: none;
}
.hide {
    display: none;
}
.navbar {
    border-radius: 0;
    border: none;
}
.navbar-brand {
    padding: 5px;
}
.navbar-brand img {
    height: 100%;
}
.navbar-left {
    margin-left: 50px;
}
.navbar-inverse {
    background: rgba(0, 0, 0, 0.7);
    border-color: #000;
}
.navbar-left li a {
    color: #cecece !important;
}
.navbar .navbar-left li.active a {
    background: rgba(0, 0, 0, 0.2) !important;
    color: #fff !important;
}
.navbar-left li:hover {
    /*background: rgba(0, 0, 0, 0.2);*/
    /*color: #fff !important;*/
}
.navbar-left li:hover a {
    color: #fff !important;
}
.tell {
    position: relative;
}
.tell .badge {
    background: #f33;
    position: absolute;
    right: 0;
    top: 5px;
}
.container {
    position: relative;
}
.button {
    position: absolute;
    top: 0;
    right: 0;
}
.button a {
    display: inline-block;
    width: 70px;
    height: 28px;
    line-height: 28px;
    color: #fff;
    text-align: center;
    margin: 10px 5px 0 5px;
    border-radius: 5px;
    transition: .2s;
}
.login {
    /*background: #59c0ff;*/
    background: none !important;
    border: 1px solid transparent;
}
.login:hover {
    /*background: #4DAAFF;*/
    border: 1px solid #fff;
}
.register {
    /*background: #5bbf5a;*/
    background: none !important;
    border: 1px solid transparent;
}
.register:hover {
    /*background: #38B836;*/
    border: 1px solid #fff;
}
.publish {
    position: absolute;
    top: 0;
    right: 50px;
    margin-top: 10px;
    padding: 4px 8px;
    /*background: rgb(89, 176, 255);*/
    color: #cecece;
    border-radius: 3px;
    border: 1px solid transparent;
    transition: .2s;
}
.publish:hover {
    /*background: rgb(77, 170, 255);*/
    color: #fff;
    border: 1px solid #fff;
}
.my {
    position: absolute;
    top: 0;
    right: 0;
    height: 50px;
    margin-left: 10px;
}
.my img {
    height: 32px;
    margin-top: 9px;
    border-radius: 3px;
}
.navbar .container {
    position: relative;
}
.setting {
    position: absolute;
    right: 0;
    top: 50px;
    display: inline-block;
    width: 100px;
    display: none;
    border: 1px solid #cfcfcf;
    border-top: none;
    background: rgba(0, 0, 0, 0.6);
    z-index: 999;
    border-radius: 0px 0px 5px 5px;
    box-shadow: 0 5px 5px rgba(0,0,0,.1);
}
.setting li {
    height: 50px;
    line-height: 50px;
    cursor: pointer;
    padding-left: 10px;
}
.setting li:hover {
    background: rgba(0, 0, 0, 0.3);
}
.setting li:first-child {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.setting li a {
    color: #eee;
    display: inline-block;
    width: 100%;
    height: 100%;
}

input[disabled]{
    cursor: no-drop !important;
    background: rgb(147, 203, 255) !important;
}
.CodeMirror .cm-spell-error:not(.cm-url):not(.cm-comment):not(.cm-tag):not(.cm-word) {
    background: none !important;
}

#search {
    margin: 10px 50px 0;
    border: none;
    outline: none;
    padding: 5px;
}
.search-content {
    background: #fff;
    left: 50px;
    top: 40px;
    border: 1px solid #ccc;
    width: 180px;
    z-index: 10;
}
.search-content li a {
    padding: 0 5px;
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
}


footer {
    margin-top: 50px;
}
footer ul li a {
    color: #fff;
}
footer ul li a:hover {
    color: #ccc;
}
.wrapper {
    border-top: 1px solid #E5E5E5;
    border-bottom: 1px solid #E5E5E5;
    padding: 30px 0;
    background: url(../images/timgs.jpg) no-repeat fixed;
}
.wrapper p {
    margin: 5px 0;
    color: #FFFFFF;
}
.footer-list {
    color: #FFFFFF;
}
.footer-list ul li {
    padding: 5px 0;
    width: 200px;
}
.footer-list ul li:first-child {
    padding-bottom: 15px;
}
.copy {
    background: rgba(0,0,0,0.7);
    text-align: center;
    color: #FFFFFF;
    padding: 20px 0;
    margin-bottom: 0;
}
p, span, div, a {
    word-wrap:break-word !important;
}
.markdown-text li {
    border: none !important;
}
.markdown-text ol li {
    list-style: decimal;
    margin: 0;
}
.markdown-text ol {
    padding-left: 20px;
}
.markdown-text ul {
    margin-left: 20px;
}
.markdown-text ul li {
    list-style: disc;
    margin: 0;
}
.markdown-text img {
    width: 100%;
}
#Backtop img {
    width: 35px;
    height: 75px;
}
/* 搜索 */
.header-search {
    border-radius: 20px;
    outline: none;
    padding-left: 10px;
    margin-left:10px;
    margin-top: 13px;
    border: 1px solid rgba(0, 0, 0, 0.7);
    background: rgba(231,238,244,1);
}
.fa-search {
    margin-left: -22px;
}