<li class="read-list hide" i="<%= index + 1 %>">
    <p>
        <a href="#"><%= message.author_id.name %></a>
        在
        <a href="#"><%= message.question_id.title %></a>
        中@我
    </p>
</li>